* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #e5e5e5;
  /* background-image: url(../images/homepage222.jpg);
    background-size: cover; */
  /* background-position: 0%; */
  background-color: #e2e2e2;
}

.homepage__main__section {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

#main__section__first__div {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.activities {
  background-color: #363740;
  color: #494d5e;
  line-height: 2;
  padding: 1rem;
  width: 20vw;
  position: sticky;
  top: 0;
  /* bottom: 0; */
  color: #fff;
}

.activities h3 {
  text-align: center;
  color: #e5e5e5;
}

.choose__list > li {
  background-color: white;
  color: #363740;
  margin-block: 32px;
  padding-left: 5px;
}

.choose__list > li:hover {
  padding-left: 15px;
  transition: all ease-in 0.4s;
}

.choose__list a:hover {
  transition: all ease-in-out 1s;
}

#main__section__first__div > p {
  font-weight: 700;
  font-size: 24px;
  padding-left: 5px;
}

.admin__profile__image {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 30%;
  color: #fff;
}

.admin__profile__image > img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-inline: 1rem;
}

.admin__profile__image p {
  margin-right: 1rem;
}


.creation-section {
    display: flex;
    flex-direction: column;
    row-gap: 8rem;
}

#createPartyy, #createOfficeContainer{
  padding: 1rem 5rem;
}

.to__be__deleted {
    display: flex;
    justify-content: space-around;
    background-color: #494d5e;
    margin-block: .3rem;
    padding: 1rem;
    color: white;
}

.party-delete *{
  width: 99%
}

.to__be__deleted p {
  font-size: 1.4rem;
  color: white;

}
.offices-div-container p{
  width: 98%;
}


.icon-container {
  width: 65%;
  display: flex;
}

.icon-container button{
  color: white;
  font-size: 1rem;
  border-radius: 5px;
}

.edit-button {
  background-color: green;
}

.party-modal {
  padding: 4rem 2rem;
  margin-top: 2rem;
  background-color: #CBCBCB;
  border: none;
}

.party-modal form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

#party__form, #office__form{
  padding: 2rem 1rem;
  width: 41%;
}

#party__form input, #office__form input{
  padding: .5rem;
  margin-block: 1rem;
  border-radius: 5px;
}

.party-form input {
  padding: .4rem;
  width: 99%;
  margin-top: .5rem;
  outline: none;
}

.partyEditBtns{
  display: flex;
}

.edit-button, .delete-button{
  padding: .5rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

button{ 
  cursor: pointer;
}

.btnContainer{
  display: flex;
  width: 18%;
}

.editBtn, .deleteBtn{
  padding: .3rem;
  color: white;
  border: none;
  width: 8rem;
  border-radius: 5px;
  font-size: 1rem;

}

.editBtn{
  background-color: green;
}

.deleteBtn{
  background-color: red;
  margin-left: 13px;
}

.delete-button{
  margin-left: .2rem;
  background-color: red;
}

.partyEditBtns > button {
  padding: .5rem;
  border: none;
  color: white;
  width: 5rem;
  border-radius: 5px;
  cursor: pointer;
}

#done-btn {
  background-color: green;
}

#cancel-btn{
  background-color: red;
  margin-left: 1rem;
 
}

.delete-modal, .office-delete-modal {
  margin-top: 5rem;
  padding: 3rem 1rem;
  margin-left: 5rem;
  border: none;
}

.delete-modal div, .office-delete-modal div {
  display: flex;
  margin-top: 1rem;
  justify-content: center;
}

#deleteBtn, #cancelDelBtn, #officeDeleteBtn, #officeCancelDelBtn {
  padding: .5rem;
  margin-inline: .3rem;
  color: white;
  border: none;
  border-radius: 5px;
}

#deleteBtn, #officeDeleteBtn {
  background-color: red;
}

#cancelDelBtn, #officeCancelDelBtn {
  background-color: green;
}

.office-modal {
  padding: 2rem 2rem;
  border: none;
  margin-left: 12rem;
}

.office-form {
  padding-block: 1rem;
  margin-left: 4rem;
}

.office-form input {
  padding: .5rem;
  margin-block: 1rem;
}

.officeEditBtns {
  display: flex;
}

#office-upate-btn, #office-cancel-btn{
  padding: .5rem 1rem;
  margin-inline: .5rem;
  color: white;
  border: none;
  margin-top: 1rem;
  cursor: pointer;
  border-radius: 5px;
}

#office-upate-btn{
  background-color: green;
}

#office-cancel-btn{
  background-color: red;
}

.main__footer {
  background-color: rgb(25, 23, 23);
  color: white;
  min-height: 12vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

label {
  display: block;
}

[data-type="office"],
[data-type="party"] {
  padding: 0.4rem;
  border-radius: 5px;
  font-size: 1rem;
  color: white;
  background-color: green;
  cursor: pointer;
  outline: none;
  border: none;
}



.fa-plus {
  margin-left: 0.4rem;
}

@media (max-width: 800px) {
  [data-type="office"],
  [data-type="party"] {
    font-size: 1rem;
    margin: 1rem 0.5rem;
  }

  .admin__profile__image {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }
}
