*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #E5E5E5;
    /* background-image: url(../images/homepage222.jpg);
    background-size: cover; */
    /* background-position: 0%; */
    background-color: #E2E2E2;
}

.homepage__main__section {
       display: grid;
       grid-template-columns: 1fr 3fr;
}

#main__section__first__div {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.activities {
    background-color: #363740;
    color: #494d5e;
    /* min-height: 100vh; */
    line-height: 2;
    padding: 1rem;
    width: 20vw;
    position: sticky;
    top: 0;
    bottom: 0;
    color: #fff;
}

.activities h3 {
    text-align: center;
    color: #E5E5E5;
}

.choose__list > li{
    background-color: white;
    color: #363740;
    margin-block: 32px;
    padding-left: 5px;
}

.choose__list > li:hover {
    padding-left: 15px;
    transition: all ease-in .4s
}

.choose__list a:hover {
    transition: all ease-in-out 1s;
}

#main__section__first__div > p {
    font-weight: 700;
    font-size: 24px;
    padding-left: 5px;
}

.admin__profile__image {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 30%;
    color: #fff;
}

.admin__profile__image > img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-inline: 1rem;
}

/* @media (min-width: 801px) {
    .admin__profile__image p::after {
        content: '';
        width: 2px;
        top: 0;
        bottom: 0;
        position: absolute;
        background-color: #494d5e;
        margin-left: 1rem;
    }
} */

.admin__profile__image p {
    margin-right: 1rem;
}

.overview__content {
    padding-top: 2rem;
    display: flex;
}

.overview__details {
    padding-top: .5rem  ;
    display: flex;
    justify-content: space-evenly;
    width: 70%; 
     
}

.overview__content {
    padding-top: 2rem;
    display: flex;
}

.overview__details {
    padding-top: .5rem  ;
    display: flex;
    justify-content: space-evenly;
    width: 70%; 
     
}

.overview__breakdown {
    background-color: #FFFFFF;
    height: 100%;
    width: 13rem;
    align-self: center;
    text-align: center;
    padding: 1rem;
    border-radius: 15px;
    display: flex;
    flex-direction: column-reverse;
    row-gap: .3rem;
}

.overview__breakdown p:first-child{
    font-size: 26px;
}
.election__update {
    width: 30%; 
    padding: .5rem;
    background-color: #fff;
}


.main__footer {
    background-color: rgb(25, 23, 23);
    color: white;
    min-height: 12vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

[data-type = "office"], [data-type = "party"] {
    padding: .4rem;
    border-radius: 5px;
    font-size: 1rem;
    color: white;
    background-color: green;
    cursor: pointer;
    outline: none;
    border: none;
}
 
.fa-plus {
    margin-left: .4rem;
}

@media (max-width: 800px) {
    .election__update {
        width: 100%; 
        /* padding: .5rem; */
        text-align: center;
    }

    .overview__content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .overview__details {
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
    }

    [data-type = "office"], [data-type = "party"] {
        font-size: 1rem;
        margin: 1rem .5rem;
    }

    .admin__profile__image {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }
}