*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../images/homepage222.jpg);
    background-size: cover;
    /* background-position: 0%; */
    background-color: #E2E2E2;
}
             
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

@media (min-width: 800px) {
    .main__section {
        min-height: 100vh; 
        /* margin-top: 45%; */
    }
}
  
.main__section h3{
    text-align: center;
    font-size: 24px;
    margin-top: 16px;
    margin-bottom: 2rem;
    color: white;
    /* min-height: 80vh; */
}
 
#form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 12px;
    background-color: #FFFFFA;
    /* max-width: 23rem; */
    max-width: fit-content;
    padding: 25px;
    margin: auto;
    border-radius: 15px;
}

.form__div label {
    display: block;
}

.input__area {
    min-width: 30vw;
    padding: 12px;
    border-radius: 5px;
    outline: none;
}

button {
    background-color: #51CEF5;
    color: white;
    font-size: inherit;
    cursor: pointer;
    border: none;
}

@media (max-width: 800px) {
    .main__section {
        min-height: 80vh;
        margin-top: 45%;
    }
    .input__area {
        min-width: 60vw;
    }
}