body {
    background-image: url(../images/homepage222.jpg);
    background-size: cover;
}

.view__section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* width: 100%; */
    margin: 5rem 1rem;
    /* background-color: #E5E5E5; */
    justify-content: center;
    align-items: center;

}

.candidate__info {
    background-color: brown;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-inline: auto;
}

.image {
    height: 250px;
    width: 250px;
    border-radius: 50%;
}

.candidate__profile{
    text-align: center;
    background-color: white;
    margin: 5rem;
    /* background-color: white; */
    /* margin: 5rem; */
}

.candidate__profile * {
    padding-block: .3rem;

}

[type = "submit"] {
    color: white;
    background-color: #51CEF5;
    padding: 14px  30px!important; 
    border: none;
    border-radius: 12px;
    margin: 12px;
    cursor: pointer;
    font-size: 16px;
}

.modal{
    background-color: #E5E5E5;
    border-radius: 10px;
    width: 50%;
    margin: auto;
    height: 13rem;
    padding-block: 1rem;
    
}

.moodal::backdrop{
    background-color: #000;
}

@media (max-width: 800px) {
  .view__section {
      display: grid;
      grid-template-columns: 1fr;
      margin: 0px 12px;
      /* padding: 2rem; */
      justify-content: center;
  }  
}