

.candidate__info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-inline: auto;
    column-gap: 3rem;
    padding-block: 2rem 5rem;
}

.image {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.candidate__profile{
    background-color: white;
    margin: 2rem;
    padding: .5rem 1rem;
    text-align: center;
}

.candidate__profile * {
    padding-block: .3rem;
}

.fa-brands {
    margin-inline: .2rem;
    font-size: 1.2rem;
    color: #3751FF;
}

.fa-brands:hover{
    font-size: 1.6rem;
}

#candidate__profile {
    text-align: center;
    padding-top: 2rem;
}
