body {
    /* background-color: #E5E5E5; */
    background-image: url(../images/homepage222.jpg);
    background-size: cover;
    background-position: 0%;
}

.vote__section {
    text-align: center;
    padding-block: 2rem;
}

.vote__section button {
    background-color: green;
    padding: 1rem;
    border-radius: 7px;
    margin-top: 1rem;
    border: none;
    color: white;
    cursor: pointer;
    font-weight: 600;
    transition-duration: 4s;
}

.vote__section button:hover {
    font-size: 16px;
    transition: all ease-in 1s;
}

.view__parties {
    text-align: center;
}

.candidate__info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-inline: auto;
}
.image {
    height: 250px;
    width: 250px;
    border-radius: 50%;
}

.candidate__profile{
    text-align: center;
    /* background-color: white; */
    margin: 5rem;
    background-color: white;
}

.candidate__profile * {
    padding-block: .3rem;
}

.fa-brands {
    margin-inline: .2rem;
    font-size: 1.2rem;
    color: #3751FF;
}

.fa-brands:hover{
    font-size: 1.6rem;
}

#candidate__profile {
    text-align: center;
    /* background-color: white; */
    padding-block: 12px ;
}

@media (max-width:600px) {
    .candidate__info {
        grid-template-columns: 1fr;
        margin-block: 1rem;
    }

    .candidate__profile {
        margin: 2rem 5rem;
    }
}